Repository axentix/vue, pull requests merged in 2021-06, with the labels that each got.

#17 feat: add collapsible
  .storybook/__snapshots__/Storyshots.test.js.snap
  dev/App.vue
  package.json
  src/components/collapsible/Collapsible.stories.js
  src/components/collapsible/Collapsible.vue
  src/components/collapsible/index.js
  src/components/index.js
Labels: scope/components, scope/storybook, size/L

#18 feat: add tooltip
  .storybook/__snapshots__/Storyshots.test.js.snap
  dev/App.vue
  src/components/index.js
  src/components/tooltip/Tooltip.stories.js
  src/components/tooltip/Tooltip.vue
  src/components/tooltip/index.js
  vite.config.js
Labels: scope/components, scope/storybook, size/L

#20 feat: new version 0.4.0
  .storybook/__snapshots__/Storyshots.test.js.snap
  CHANGELOG.md
  dev/App.vue
  package-lock.json
  package.json
  src/components/collapsible/Collapsible.stories.js
  src/components/collapsible/Collapsible.vue
  src/components/collapsible/index.js
  src/components/index.js
  src/components/tooltip/Tooltip.stories.js
  src/components/tooltip/Tooltip.vue
  src/components/tooltip/index.js
  vite.config.js
Labels: scope/components, scope/storybook, size/XL

#21 feat(forms): add custom select & prepare for autocomplete
  .storybook/__snapshots__/Storyshots.test.js.snap
  dev/App.vue
  src/components/forms/FormControl.vue
  src/components/forms/FormSelect.stories.js
  src/components/forms/FormSelect.vue
  src/components/forms/index.js
  src/components/forms/shared/select.js
  src/components/sidenav/Sidenav.vue
  src/directives/click-outside.js
  src/index.js
  src/utils/utils.js
Labels: scope/components, scope/storybook, scope/utils, size/XL

#23 feat: new version 0.5.0
  .storybook/__snapshots__/Storyshots.test.js.snap
  CHANGELOG.md
  dev/App.vue
  package-lock.json
  package.json
  src/components/forms/FormAutocomplete.stories.js
  src/components/forms/FormAutocomplete.vue
  src/components/forms/FormControl.vue
  src/components/forms/FormSelect.stories.js
  src/components/forms/FormSelect.vue
  src/components/forms/index.js
  src/components/forms/shared/select.js
  src/components/sidenav/Sidenav.vue
  src/components/tooltip/Tooltip.vue
  src/directives/click-outside.js
  src/index.js
  src/utils/utils.js
Labels: scope/components, scope/storybook, scope/utils, size/XXL

#24 feat: new version 0.5.1
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/forms/FormAutocomplete.vue
  src/components/forms/FormSelect.vue
Labels: scope/components, size/M

#25 feat: new version 0.5.2
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/collapsible/Collapsible.vue
  src/components/forms/FormAutocomplete.vue
Labels: scope/components, size/S

#29 feat: version 0.6.1
  .storybook/__snapshots__/Storyshots.test.js.snap
  CHANGELOG.md
  dev/App.vue
  package-lock.json
  package.json
  src/components/pagination/Pagination.vue
Labels: scope/components, size/S

#31 feat: new version 0.6.2
  CHANGELOG.md
  dev/App.vue
  package-lock.json
  package.json
  src/components/collapsible/Collapsible.vue
Labels: scope/components, size/XL

#32 feat: new version 0.6.3
  CHANGELOG.md
  dev/App.vue
  package-lock.json
  package.json
  src/components/sidenav/Sidenav.vue
Labels: scope/components, size/S

#33 feat: new version 0.6.4
  CHANGELOG.md
  dev/App.vue
  package-lock.json
  package.json
  src/components/tooltip/Tooltip.vue
Labels: scope/components, size/M

#37 feat: new version 0.6.8
  .storybook/__snapshots__/Storyshots.test.js.snap
  CHANGELOG.md
  dev/App.vue
  package-lock.json
  package.json
  src/components/forms/FormControl.vue
  src/components/tooltip/Tooltip.stories.js
  src/components/tooltip/Tooltip.vue
Labels: scope/components, size/M

#41 feat: new version 0.6.12
  CHANGELOG.md
  dev/App.vue
  package-lock.json
  package.json
  src/components/forms/shared/select.js
Labels: scope/components, size/M

#43 feat: new version 0.7.0 (#42)
  .storybook/__snapshots__/Storyshots.test.js.snap
  CHANGELOG.md
  dev/App.vue
  package-lock.json
  package.json
  src/components/forms/Form.vue
  src/components/forms/FormAutocomplete.vue
  src/components/forms/FormCheck.vue
  src/components/forms/FormControl.vue
  src/components/forms/FormField.vue
  src/components/forms/FormSelect.vue
  src/components/forms/FormSwitch.vue
  src/components/forms/shared/validate.js
  src/components/sidenav/Sidenav.vue
Labels: scope/components, scope/storybook, size/XL

#50 feat: add tab component & resetValidation method
  .drone.yml
  .storybook/__snapshots__/Storyshots.test.js.snap
  CHANGELOG.md
  dev/App.vue
  package-lock.json
  package.json
  src/components/forms/Form.vue
  src/components/forms/FormAutocomplete.vue
  src/components/forms/FormCheck.vue
  src/components/forms/FormControl.vue
  src/components/forms/FormSelect.vue
  src/components/forms/FormSwitch.vue
  src/components/index.js
  src/components/tab/Tab.stories.js
  src/components/tab/Tab.vue
  src/components/tab/TabItem.vue
  src/components/tab/TabLink.vue
  src/components/tab/index.js
Labels: scope/components, scope/storybook, size/XL

#52 feat: new version 0.8.1
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/modal/Modal.vue
  src/components/sidenav/Sidenav.vue
Labels: scope/components, size/M
