Repository axentix/vue, pull requests merged in 2022-03, with the labels that each got.

#95 feat: lightbox
  .storybook/__snapshots__/Storyshots.test.js.snap
  dev/App.vue
  package.json
  src/components/index.js
  src/components/lightbox/Lightbox.stories.js
  src/components/lightbox/Lightbox.vue
  src/components/lightbox/index.js
Labels: size/L, scope/storybook, scope/components

#96 feat: remove storybook
  .dockerignore
  .github/labeler-paths.yml
  .github/labels.yml
  .github/workflows/deployment.yml
  .github/workflows/storybook.yml
  .github/workflows/test.yml
  .storybook/Storyshots.test.js
  .storybook/__snapshots__/Storyshots.test.js.snap
  .storybook/global.scss
  .storybook/main.js
  .storybook/manager-head.html
  .storybook/preview.js
  Dockerfile
  babel.config.js
  dev/App.vue
  jest.config.js
  nginx.conf
  package-lock.json
  package.json
  src/components/button-group/ButtonGroup.stories.js
  src/components/button/Button.stories.js
  src/components/collapsible/Collapsible.stories.js
  src/components/dropdown/Dropdown.stories.js
  src/components/forms/FormAutocomplete.stories.js
  src/components/forms/FormCheck.stories.js
  src/components/forms/FormFile.stories.js
  src/components/forms/FormGroup.stories.js
  src/components/forms/FormInputs.stories.js
  src/components/forms/FormSelect.stories.js
  src/components/forms/FormSwitch.stories.js
  src/components/lightbox/Lightbox.stories.js
  src/components/modal/Modal.stories.js
  src/components/pagination/Pagination.stories.js
  src/components/sidenav/Sidenav.stories.js
  src/components/tab/Tab.stories.js
  src/components/tooltip/Tooltip.stories.js
Labels: scope/ci, size/XXL, scope/storybook, scope/components

#98 feat: generate definitions files
  package-lock.json
  package.json
  scripts/postinstall.js
  src/components/button/index.ts
  src/components/index.ts
  src/directives/click-outside.ts
  src/env.d.ts
  src/index.ts
  src/utils/global.js
  src/utils/global.ts
  src/utils/plugins.ts
  src/utils/utils.ts
  src/utils/v-model.ts
  tsconfig.json
  vite.config-2.js
  vite.config.js
Labels: size/XXL, scope/utils, scope/components
